body {
    margin-top: 2%;
    margin-right: 6%;
    margin-left: 15%;
}

#table1 {
    margin-left: 5%;
    font-size: larger;
}
h1, h2, h3, h4 {
    margin-top: 11%;
    text-align: center;
    margin-right: 30%;
}

#top-down {
    font-size: larger;
}

#middle {
    width: 100px;
    margin-left: 37.5%;
}

.dp {
    height: 360px;
    width: 120px;
}

#email-pic {
    width: 24px;
    height: 24px;
}

footer {
    text-align: center;
}

#other-pic1 {
    width: 240px;
    height: 240px;
}

#table2 {
    margin-left: 5%;
}